<!DOCTYPE html>
{% extends 'dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Categories</title>
</head>
<body>
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Category Details</h4>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>CATEGORY NAME</th>
                            <th>DESCRIPTION</th>
                            <th>IMAGE</th>
                            <th>OPTIONS</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}
                        <tr>
                            <td>{{ i.CategoryName }}</td>
                            <td>{{ i.Description }}</td>
                            <td><img src="{{ i.CategoryImage.url }}"></td>
                            <td><a class="btn btn-primary" style="margin-right: 20px;" href="{% url 'edit_category' cat_id=i.id %}" >Edit</a>
                                <a class="btn btn-danger" href="{% url 'delete_category' c_id=i.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for msg in messages %}
        {% if msg.tags == "success" %}
            <script>
                swal('{{msg}}', '', 'success')
            </script>
        {% elif msg.tags == "warning" %}
            <script>
                swal('{{msg}}', '', 'warning')
            </script>
        {% elif msg.tags == "error" %}
            <script>
                swal('{{msg}}', '', 'error')
            </script>
        {% elif msg.tags == "info" %}
            <script>
                swal('{{msg}}', '', 'info')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}